body{
  background-color: #111111;
}

#root{
  display: flex;
}

.dashboard{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard .panels{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main{
  width: 100%;
}